<!-- {{ partial "page_edit" . }}
{{ partial "tags" . }}
{{ partial "share" . }}
{{ partial "page_author" . }}
{{ partial "comments" . }}

{{ if site.Params.section_pager }}
<div class="article-widget">
  {{ partial "section_pager" . }}
</div>
{{ end }}

{{ if ne .Type "page" }}
  {{ $related := site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <div class="article-widget content-widget-hr">
    <h3>{{ i18n "related" }}</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
{{ end }} -->




<div id="disqus_thread"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://neuralgeek.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>